@import "_variables.scss";

button {
  border: 1px solid transparent;
  padding: 2px 20px;
  border-radius: 3px;
  color: white;
  background-color: $primary;

  &.primary {
    background-color: $primary;
    &:disabled {
      border-color: $primary;
      color: $primary;
    }
  }
  &.second {
    background-color: $second;
    &:disabled {
      border-color: $second;
      color: $second;
    }
  }
  &.third {
    background-color: $third;
    &:disabled {
      border-color: $third;
      color: $third;
    }
  }
  &.forth {
    background-color: $forth;
    &:disabled {
      border-color: $forth;
      color: $forth;
    }
  }

  &.cancal {
    border-color: $gray-light;
    color: $gray-text;
    background-color: white;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $gray-bg;
  }
}
