<div class="recipes">
  <div class="mb-2 d-flex justify-content-end gap-1">
    <app-basics-button>新增食譜</app-basics-button>
  </div>

  <a
    class="recipe"
    *ngFor="let recipe of recipes"
    (click)="toDetail(recipe.id)"
  >
    <div class="recipe-info">
      <img class="recipe-img" [src]="recipe.imgPath" alt="{{ recipe.name }}" />
      <div class="recipe-intro">
        <h3 class="name">{{ recipe.name }}</h3>
        <p class="desc">{{ recipe.description }}</p>
        <div class="time">{{ recipe.time }}分鐘</div>
      </div>
    </div>
  </a>
</div>
