@import "_variables.scss";
.recipe {
  text-decoration: none;

  .recipe-info {
    .recipe-intro {
      .desc {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
    }
  }
}
