<!-- 依組件之selector寫法，使用不同方式取用 -->
<!-- selector: 'app-basics-button' -->
<app-basics-button [type]="btnType" (click)="btnClick('')">
  按鈕
</app-basics-button>
<!-- selector: '[app-basics-button]' -->
<!-- <div app-basics-button>按鈕</div> -->
<!-- selector: '.app-basics-button' -->
<!-- <div class="app-basics-button">按鈕</div> -->

<hr />

<div>
  <h2>綁定</h2>
  <div>
    <p>
      inputVal:
      <!-- 屬性綁定 {{...}}；[...]="..." -->
      <span>{{ inputVal }}</span>
      /
      <span textContent="{{ inputVal }}"></span>
      /
      <span [textContent]="inputVal"></span>
      /
      <span [textContent]="getInputVal()"></span>
    </p>
    <div class="d-flex flex-column gap-1">
      <!-- 事件綁定 (...)="..." -->
      <input type="text" (input)="updateInputVal($event)" />
      <input type="text" [value]="inputVal" (input)="updateInputVal($event)" />
      <!-- 雙向綁定 [(...)]="..." -->
      <input type="text" [(ngModel)]="inputVal" />
    </div>
  </div>

  <hr class="dash-line" />
  <h3>練習</h3>
  <div>
    <input type="text" [(ngModel)]="praticeInputVal" />
    <app-basics-button
      class="m-1"
      [type]="'second'"
      [disabled]="praticeInputVal.length == 0"
      (click)="praticeInputVal = ''"
    >
      送出
    </app-basics-button>
    <app-basics-button
      [type]="'cancal'"
      [disabled]="praticeInputVal.length == 0"
      (click)="praticeInputVal = ''"
    >
      清除
    </app-basics-button>
  </div>
</div>

<hr />

<div>
  <h2>ngIf</h2>
  <div>
    <app-basics-button (click)="theIfVal = !theIfVal">on/off</app-basics-button>
    <span *ngIf="theIfVal; else theIfValFalse"> ❤️ </span>
    <ng-template #theIfValFalse>
      <span> 💔 </span>
    </ng-template>
    <!-- Angular17以上可用的寫法 -->
    @if (theIfVal) {
    <span> 🩷 </span>
    } @else {
    <span> 💖 </span>
    }
  </div>

  <hr class="dash-line" />
  <h2>ngStyle/ngClass</h2>
  <div>
    <p
      [ngClass]="{ 'ms-auto': theIfVal }"
      [ngStyle]="{ width: theIfVal ? 'fit-content' : '' }"
    >
      {{ theIfVal ? "ms-auto" : "ms-0" }}
    </p>
  </div>

  <hr class="dash-line" />
  <h2>ngFor</h2>
  <div>
    <app-basics-button (click)="addItemForArr()">+</app-basics-button>
    <div>
      <span *ngFor="let num of theForArr"> {{ num }} </span>
    </div>
    <div>
      <!-- Angular17以上可用的寫法，此新語法目前僅在「開發者預覽版」中可用 -->
      @for (num of theForArr; track num) {
      <span> {{ num }} </span>
      }
    </div>
  </div>

  <hr class="dash-line" />
  <h3>練習：To do list.</h3>
  <div>
    <ul>
      <li *ngFor="let item of praticeArr; let i = index" class="my-1">
        <span
          [ngStyle]="{ textDecoration: item.isFinish ? 'line-through' : '' }"
        >
          {{ i + 1 + ". " + item.content }}
        </span>
        <app-basics-button
          [type]="{ cancal: item.isFinish }"
          (click)="item.isFinish = !item.isFinish"
        >
          完成
        </app-basics-button>
      </li>
    </ul>
    <app-basics-button *ngIf="hasFinished()" (click)="removePraticeArrItem()">
      移除已完成
    </app-basics-button>
  </div>
</div>
