$primary: #1976d2;
$primary-bg: #e3eefa;
$primary-dark: #164472;
$primary-light: #5ea2e5;
$primary-positive: #4bd5ff;

$second: #dd0031;
$second-bg: #fbe0e6;
$second-dark: #ab052a;
$second-light: #e85072;
$second-positive: #f50a4c;

$third: #9616ef;
$third-bg: #ce92f7;
$third-dark: #7b3b82;

$forth: #ff9800;
$forth-bg: #ffbf60;

$black: #131112;
$gray: #5e5d5e;
$gray-text: #919091;
$gray-light: #b4b3b4;
$gray-bg: #EBEBEB;
