button {
  color: white;
  background-color: #dd0031;
  border: none;
  padding: 5px 20px;
  border-radius: 3px;

  &.red {
    color: white;
    background-color: #dd0031;
    border: 2px solid #c3002e;
  }
  &.blue {
    color: white;
    background-color: #287ed5;
    border: 2px solid #1976d2;
  }
  &.orange {
    color: white;
    background-color: #ff9800;
    border: 2px solid #ff9800;
  }
}
