.dash-line {
  border-style: dashed;
}

button {
  border: 1px solid transparent;
  padding: 2px 20px;
  border-radius: 3px;
  color: white;
  background-color: #dd0031;
  &:disabled {
    filter: brightness(0.95);
    cursor: not-allowed;
  }

  &.red {
    background-color: #dd0031;
  }
  &.blue {
    background-color: #287ed5;
  }
  &.orange {
    background-color: #ff9800;
  }

  &.cancal {
    border: 1px solid #888;
    color: #888;
    background-color: white;
  }
}
